<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Education</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img src="https://scontent.fhan15-2.fna.fbcdn.net/v/t39.30808-1/427572683_3703349056550523_4592902955780662060_n.jpg?stp=cp0_dst-jpg_s40x40_tt6&_nc_cat=104&ccb=1-7&_nc_sid=e99d92&_nc_eui2=AeGT2DN4aP1T2qieIq0JIda61ZY_7Gt80I7Vlj_sa3zQjmg44HWIcFkB8sSh3U0NSAXAito-TSMC0JW4gnhjIFJS&_nc_ohc=hCKsOJ2Na64Q7kNvgH4rOx1&_nc_zt=24&_nc_ht=scontent.fhan15-2.fna&_nc_gid=Av7JVZPbugGRxDvgciZmoGx&oh=00_AYBWOP785Qwm2uMSQrBssVi3Aj4M9tFzFJp3uNr_-a2jew&oe=677EB978" alt="" class="user-avarta">
            Duy Ngự
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/courses/create">Đăng khóa học</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Đăng xuất</a>
          </div>
        </li>
      </ul>

    </div>
  </div>
</nav>